@using EntityLayers.Concrete
@model List<TBLHASTA>

@{
    ViewBag.Title = "Hasta Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";

}




<h2> <span class="glyphicon glyphicon-ok"></span> @ViewBag.Title</h2>
<hr style="height:2px;border-width:0;color:gray;background-color:gray" />

<form method="post" action="/Hasta/HastaGetir" style="align-self:start">
    <button class="btn btn-danger" style="margin-right:29px">PASİF HASTALARI DA GÖSTER</button>
    <a href="/Hasta/HastaGetir" type="button" class="btn btn-primary" style="align-content:end">SADECE AKTİFLERİ GÖSTER</a>
</form> 

 

<hr style="height:2px;border-width:0;color:gray;background-color:gray" />
<table class="table table-hover" id="hastaTablosu">
    <thead>
        <tr>

            <th>HASTA NO</th>
            <th>HASTA AD</th>
            <th>PASİFİZE ET</th>
            <th>GÜNCELLE</th>


        </tr>
    </thead>


    @foreach (var hasta in Model)
    {




        <tr>
            <td>@hasta.HASTAID</td>
            <td>

                <button class="btn btn-warning" data-toggle="modal" data-target="#-@hasta.HASTAID" title="Hastayı Gör">
                    @hasta.HASTAAD  @*HASTA GÖR LİNKİ - datatarget'a - (eksi) değeri verdik. Dİğeriyşe karışmasın diye'*@
                </button>
            </td>

            <td>
                @if (hasta.HASTAPASIF == true)
                {

                    <button class="btn btn-success" data-toggle="modal" data-target="#@hasta.HASTAID" title="Pasif Yapmak için Tıkla">
                        @*AKTİF PASİF LİNKİ*@
                        AKTİF
                    </button>

                }
                else
                {


                    <button class="btn btn-danger" data-toggle="modal" data-target="#@hasta.HASTAID" title="Aktif Yapmak için Tıkla">PASİF</button>
                    @*AKTİF PASİF LİNKİ*@
                }

                @*AKTİF PASİF MODAL'I'*@
                <div class="modal" tabindex="-1" role="dialog" id="@hasta.HASTAID">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">


                                @if (hasta.HASTAPASIF == true)

                                {
                                    <h2 class="modal-title">
                                        BU KULLANICI ~PASİF~ OLACAK!
                                    </h2>
                                }
                                else
                                {

                                    <h2 class="modal-title">
                                        BU KULLANICI ~AKTİF~ OLACAK!
                                    </h2>

                                }


                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>İyi Düşündünüz mü? Gerçketen Bunu Yapmak İstiyor musunuz?</p>
                            </div>
                            <div class="modal-footer">
                                <a href="/Hasta/HastaPasifYap/@hasta.HASTAID" type="button" class="btn btn-primary">Evet</a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hayır</button>
                            </div>
                        </div>
                    </div>
                </div>

                @*----------------------------------------------*@


                @*HASTA GÖR  MODAL'I'*@
                <div class="modal" tabindex="-1" role="dialog" id="-@hasta.HASTAID">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">


                                @hasta.HASTAAD


                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>

                                    @Html.Raw(hasta.HASTAADRESBILGI)
                                </p>
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-secondary" data-dismiss="modal">KAPAT</button>
                            </div>
                        </div>
                    </div>
                </div>

                @*----------------------------------------------*@

            </td>
            <td><a href="/Hasta/hastaDuzenlemeSayfasi/@hasta.HASTAID" class="btn btn-info">GÜNCELLE</a></td>
        </tr>

    }



</table>
<br />
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#yenihasta3">
    YENİ HASTA EKLE
</button>
@*YENİ HASTA  MODAL'I'*@
<div class="modal" id="yenihasta3">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h2>YENİ HASTA EKLEME PANELİ</h2>
            </div>

            <form method="post" action="~/Hasta/YeniHasta">


                <div class="modal-body">

                    <input name="HASTAAD" type="text" class="form-control" style="  min-width:100%" placeholder="Hasta Adı Giriniz..." required />

                    <input name="HASTAPASIF" type="hidden" value="true" />
                    <br />

                    <textarea name="HASTAADRESBILGI" type="text" class="form-control" style="  min-width:100%" placeholder="Hasta Bilgileriniş Giriniz..." required>
ADRES:
TEL:

                    </textarea>

                    @*@Html.ValidationMessageFor(x=>x.HASTAAD)*@
                </div>

                <div class="modal-footer">

                    <button class="btn btn-success" style="margin:10px">EKLE</button>
                    <button class="btn btn-danger" data-dismiss="modal" style="margin:10px">VAZGEÇ</button>
                </div>



            </form>

        </div>
    </div>
</div>






<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<script src="~/Content/DataTables/js/DataTables.min.js"></script>
<script>
    $('#hastaTablosu').DataTable({


        language: {
            "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/tr.json"
        }
    });

</script>
